/*general*/

body {
	background-image: url("../images/swirl_pattern.png");
	background-repeat: repeat-x repeat-y;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    width: 100%;
    overflow: auto;
}


    

h1,h2,h3 {
	font-family: 'Georgia';
	color: #55bbf4;
	font-weight: bold;
}


/*header*/

a.navbar-brand {

	padding-left: 140px;
	height: 100px;

}

ul.nav.navbar-nav.navbar-right {
	margin-top: 30px;
}


li.active {

	padding-right: 250px;
}


/*about section*/


section.about {
	box-sizing: border-box;
	background-color: #f8f8f8;
	margin-top: 50px;
	margin-bottom: 50px;
	padding: 25px 35px 25px 35px;
	border: thin solid lightgray;
	border-radius: 5px;
}

h2#aboutmetag {

	padding: auto;
	margin-bottom: 20px;
	border-style: thin;
	border-bottom: 1px solid lightgray;

}


#me {

	float: left;
	margin: 0 10px 10px 0px;
}


/*aside section*/

img.media { 
	height: 50px;
	width: 50px; 
	margin: auto;
	padding: auto;

	}

div#asideid {

	box-sizing: border-box;
	border: thin solid lightgray;
	background-color: #f8f8f8;
	padding: 25px 10px 10px 10px;
	height: 200px;
	margin-top: 50px;
	margin-bottom: 559px;
	border-radius: 5px;

}

h3#aside {

	text-align: center;
	color: #55bbf4;
	font-size: 23px;
	font-family: 'Georgia';
	font-weight: bold;
	padding-bottom: 5px;
	border-bottom: 1px solid lightgray;
}



div#mediaimgs {

	display: block;
	margin: auto;
    width: 100%;
    padding-left: 35px;
    padding-top: 25px;

}

p#p1, p#p2 {
	line-height: 25px;
	font-size: 20px;
}

/*footer*/

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: block;
}

p.text-muted {
	text-align: center;
	margin-top: 24px;
}


/*contact page start*/

h3.inputform {
	font-family: sans-serif;
	color: gray;
	font-weight: normal;
	font-size: 20px;
}